.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-top: 1.5%;
    text-align: center;
    border-radius: 8px;
    background-image: linear-gradient(
        0deg,
        hsl(0deg 0% 100%) 0%,
        hsl(344deg 0% 99%) 30%,
        hsl(344deg 0% 98%) 69%,
        hsl(344deg 0% 97%) 84%,
        hsl(344deg 0% 96%) 91%,
        hsl(344deg 0% 95%) 96%,
        hsl(344deg 0% 94%) 98%,
        hsl(344deg 0% 93%) 100%,
        hsl(344deg 0% 92%) 100%,
        hsl(0deg 0% 91%) 100%
      );
}
.cardContainer h3{
    padding-top: 10%;
}
.cardContainer p {
    width: 90%;
}
.infoContactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13%;
    width: 100%;
}
.infoContactContainer img{
    padding-bottom: 3%;
}
.contactContainer{
    width: 100%;
    margin-top: 12%;
    margin-bottom: 20%;
    border-top: 2px solid #DCDCDC;
    border-bottom: 2px solid #DCDCDC;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactContainer h2{
    padding: 3% 0 3% 0;
    font-size: 2.7em;
    font-weight: 700;
    color: #4E4E4E
}
.contactContainer button{
    padding: .6% 2%;
    margin-bottom: 4%;
    border-radius: 6px;
    border: none;
    font-size: 1.1em;
    color: white;
    background: rgb(77,188,94);
    background: linear-gradient(45deg, rgba(77,188,94,1) 0%, rgba(3,102,103,1) 100%);
}